* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --Colors-- */
:root {
  --main-bg-color: #ede2cf;
  --main-secondary-color: #bf9969;
  --main-font-color: rgb(30, 30, 30);
  --secondary-bg-color: #d94b18;
  --taco-bg-color: #fffbf7;
  --main-bodybg-color: #f1ebe1;
  --logo-color: rgb(85, 85, 85);

  /* --Fonts-- */
  --main-font-family: "Ubuntu", sans-serif;
  --secondary-font-family: "Barlow Condensed", sans-serif;
}

/* ------------ TACOHEAD MENU --------------- */
.container {
  width: 100%;
  height: 100%;
  padding-top: 116px;
  padding-bottom: 20px;
  background-color: var(--main-bodybg-color);
}

.menuSelectContainer {
  margin-top: 25px;
  margin-bottom: 8px;
  margin-left: 14px;
}

.menuSelectBtn {
  padding: 6px;
  width: 105px;
  margin: 0 5px;
  border: 3px solid var(--main-secondary-color);
  border-radius: 20px;
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  color: var(--main-font-color);
  font-size: 0.75rem;
}

.menuItemsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menuItem {
  width: 90%;
  background-color: var(--taco-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.menuItemPic {
  width: 356px;
  height: auto;
  object-fit: fill;
}

.itemDescription {
  font-family: var(--main-font-family);
  padding: 5px;
}

.itemHeading {
  font-family: var(--main-font-family);
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.menuPrice {
  font-size: 1.15rem;
  color: var(--main-font-color);
  margin-bottom: 15px;
}

.menuDescription {
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.notePadAddbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  color: var(--main-bodybg-color);
  font-size: 1rem;
  cursor: pointer;
  margin-left: 88%;
  margin-bottom: 2%;
}

.notePadAddbtn:hover {
  background-color: darkred;
}
