* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bodybg-color);
}

/* --Colors-- */
:root {
  --main-bg-color: #ede2cf;
  --main-secondary-color: #bf9969;
  --main-font-color: rgb(30, 30, 30);
  --secondary-bg-color: #d94b18;
  --taco-bg-color: #fffbf7;
  --main-bodybg-color: #f4efe6;
  --logo-color: rgb(85, 85, 85);

  /* --Fonts-- */
  --main-font-family: "Ubuntu", sans-serif;
  --secondary-font-family: "Barlow Condensed", sans-serif;
}

/* --------------- BILL SPLITTER ______________ */
.container {
  width: 100%;
  height: 100%;
  padding-top: 116px;
}
.sectionHeadingContainer {
  display: flex;
  align-items: center;
  margin: 40px 0px 10px 0px;
  width: 100%;
  font-size: 1.5rem;
}
.Logos {
  margin: 0px 20px;
  width: 60px;
}

.sectionHeading {
  width: 100%;
  font-family: var(--main-font-family);
}

.notepadTacohead {
  width: 100%;
}

.notepadTacohead ul li {
  border-bottom: dotted 2px var(--main-secondary-color);
}

.menuDescription {
  padding: 10px;
  font-size: 0.75rem;
}

.itemDescription {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  font-family: var(--main-font-family);
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

#selectItem {
  margin: auto auto;
  grid-column: 1/2;
  grid-row: 2/3;
}

input[type="checkbox"] {
  width: 24px;
  height: 26px;
}
.itemHeading {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  justify-self: baseline;
}

.menuPrice {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: end;
  font-size: 1.25rem;
  margin: auto auto;
}

.menuDescription {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto auto;
}

.notePadRemovebtn {
  grid-column: 3/4;
  grid-row: 3/4;
  margin: auto auto;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  color: var(--main-bodybg-color);
  font-size: 1rem;
  cursor: pointer;
}

/* ------- CHECKBOX ---------- */

.round {
  position: relative;
}

.round label {
  background-color: var(--main-bodybg-color);
  border: 1px solid var(--main-secondary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  content: "";
}

.round label:after {
  border: 2px solid var(--main-bodybg-color);
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--main-secondary-color);
  border-color: var(--secondary-bg-color);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
